In Pandas, an index refers to the labeled array that identifies rows or columns in a DataFrame or a Series

In [7]:
import pandas as pd

# Create Indexes in Pandas

Default Index

In [8]:
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   25  New York
1  Alice   28    London
2    Bob   32     Paris

Setting Index

In [9]:
df.set_index('Name',inplace=True)
print(df)
#inplace=True parameter performs the operation directly on the object itself, 
# without creating a new object. When we specify inplace=True,
# the original object is modified, 
# and the changes are directly applied

       Age      City
Name
John    25  New York
Alice   28    London
Bob     32     Paris

Range Index

In [10]:
datas = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

dfs = pd.DataFrame(data,index=pd.RangeIndex(5,8,name='Index'))
print(dfs)

        Name  Age      City
Index
5       John   25  New York
6      Alice   28    London
7        Bob   32     Paris