In [1]:
import numpy as np

# NumPy String add() Function

In [2]:
array1 = np.array(['iPhone: ', 'price: '])
array2 = np.array(['15', '$900'])

# perform element-wise array string concatenation
print(np.char.add(array1,array2))

['iPhone: 15' 'price: $900']

# NumPy String multiply() Function

In [ ]:
array3 = np.array(['A', 'B', 'C']) 

#  repeat each element in array3 two times
print(np.char.multiply(array3,2))

['AA' 'BB' 'CC']

# NumPy String capitalize() Function

In [4]:
array4 = np.array(['eric', 'paul', 'sean'])  

# capitalize the first letter of each string in array4
print(np.char.capitalize(array4))

['Eric' 'Paul' 'Sean']

# NumPy String upper() and lower() Function

In [5]:
array5 = np.array(['nEpalI', 'AmeriCAN', 'CaNadIan'])

print(np.char.upper(array5))
print(np.char.lower(array5))

['NEPALI' 'AMERICAN' 'CANADIAN']
['nepali' 'american' 'canadian']

# NumPy String join() Function

In [6]:
array6 = np.array(['hello', 'world'])

# join the strings in the array using a dash as the delimiter
print(np.char.join('-',array6))

['h-e-l-l-o' 'w-o-r-l-d']

# NumPy String equal() Function

In [7]:
array7 = np.array(['C', 'Python', 'Swift'])
array8 = np.array(['C++', 'Python', 'Java'])

# check if each element of the arrays is equal
print(np.char.equal(array7,array8))

[False  True False]