In Pandas, the groupby operation lets us group data based on specific columns. This means we can divide a DataFrame into smaller groups based on the values in these columns.

Once grouped, we can then apply functions to each group separately. These functions help summarize or aggregate the data in each group.

Group by a Single Column in Pandas

In [30]:
import pandas as pd

data = {'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing'],
        'Sales': [1000, 500, 800, 300]}

df = pd.DataFrame(data)

# group the DataFrame by the Category column and
# calculate the sum of Sales for each category

grouped = df.groupby('Category')['Sales'].aggregate('sum')
print(grouped)

Category
Clothing        800
Electronics    1800
Name: Sales, dtype: int64

Group by a Multiple Column in Pandas

In [31]:
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Grade': ['A', 'B', 'A', 'A', 'B'],
    'Score': [90, 85, 92, 88, 78]
}
df = pd.DataFrame(data)

print(df.groupby(['Gender','Grade']).agg(['mean','max']))

             Score
              mean max
Gender Grade
Female A      88.0  88
       B      85.0  85
Male   A      91.0  92
       B      78.0  78

Group With Categorical Data

In [36]:
df['Gender'] = pd.Categorical(df['Gender'])
print(df.groupby('Gender')['Score'].sum())

Gender
Female    173
Male      260
Name: Score, dtype: int64

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13324\1290820220.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('Gender')['Score'].sum())